{
  "openapi" : "3.1.0",
  "info" : {
    "contact" : {
      "email" : "support@freefinance.at",
      "name" : "manubu gmbh",
      "url" : "https://www.freefinance.at"
    },
    "description" : "The REST API to be used with FreeFinance and FinanzFenster. Please read the examples for an introduction to authentication and some use cases.",
    "title" : "FreeFinance REST API",
    "version" : "2.0.0-beta2"
  },
  "externalDocs" : {
    "description" : "Detailed examples for authentication and base tasks can be found here.",
    "url" : "https://freefinance-dev.github.io"
  },
  "servers" : [ {
    "description" : "The demo server, suitable for test implementations against production.",
    "url" : "https://demo.freefinance.at"
  }, {
    "description" : "The QA server with the next version for testing.",
    "url" : "https://app.qa.freefinance.at"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "tags" : [ {
    "description" : "Authentication information for API users.",
    "name" : "AUTH"
  }, {
    "description" : "Bank Statement Lines - bank account transactions and PSD2.",
    "name" : "BSL"
  }, {
    "description" : "Cash Based Invoicing - incoming invoices (expenses)",
    "name" : "CBI-INC"
  }, {
    "description" : "Cash Based Invoicing - outgoing invoices (incomes).",
    "name" : "CBI-OUT"
  }, {
    "description" : "Cash Based Setup - financial setup, accounts and other setup data for booking",
    "name" : "CBS"
  }, {
    "description" : "Cash Based Setup - accounts for bookkeeping.",
    "name" : "CBS-ACC"
  }, {
    "description" : "Cash Based Setup - payment accounts.",
    "name" : "CBS-PAY"
  }, {
    "description" : "Information about the current client and its features & permissions.",
    "name" : "CLIENT"
  }, {
    "description" : "Documents - staging upload of files with metadata.",
    "name" : "DOC-STG"
  }, {
    "description" : "Financial Setup - global setup for taxation and bookkeeping.",
    "name" : "FIS"
  }, {
    "description" : "Foundation - global definitions for countries, currencies, etc.",
    "name" : "FND"
  }, {
    "description" : "Invoicing - Full business documents with PDF generation.",
    "name" : "INV"
  }, {
    "description" : "Invoicing - invoices and their payments.",
    "name" : "INV-IV"
  }, {
    "description" : "Item Management - items for invoices and cash registers.",
    "name" : "ITM"
  }, {
    "description" : "Master Data - customers.",
    "name" : "MAS-CUS"
  }, {
    "description" : "Master Data - suppliers.",
    "name" : "MAS-SUP"
  }, {
    "description" : "Point of Sale - handles cash register terminals.",
    "name" : "POS"
  }, {
    "description" : "Point of Sale - daily closings.",
    "name" : "POS-DC"
  }, {
    "description" : "Point of Sale - receipts.",
    "name" : "POS-RCT"
  }, {
    "description" : "Tagging and Cost Centers for customers, invoices, etc.",
    "name" : "TAG"
  } ],
  "paths" : {
    "/auth/issuer" : {
      "get" : {
        "description" : "Returns information about the trusted issuer used to authenticate with this portal.",
        "operationId" : "getAuthIssuerInfo",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthIssuerInfoDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "tags" : [ "AUTH" ]
      }
    },
    "/clients" : {
      "get" : {
        "description" : "Returns all clients the authenticated user has access to.",
        "operationId" : "getAllClients",
        "parameters" : [ {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Only include clients for which the user has any of these permissions.",
          "explode" : false,
          "in" : "query",
          "name" : "permissions",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form"
        }, {
          "description" : "Only include clients with these product types.",
          "explode" : false,
          "in" : "query",
          "name" : "product_types",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "CMA", "RLA", "DEA", "ACT", "BNK", "AFF", "ADM", "EXT" ]
            }
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CLIENT" ]
      }
    },
    "/clients/{client_id}" : {
      "get" : {
        "description" : "Returns a specific client the authenticated user has access to.",
        "operationId" : "getClient",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CLIENT" ]
      }
    },
    "/clients/{client_id}/avatar" : {
      "get" : {
        "description" : "Get the current avatar of the client. The /settings resource indicates if the client has an avatar present.",
        "operationId" : "getClientAvatar",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "204" : {
            "description" : "No Content present"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CLIENT" ]
      }
    },
    "/clients/{client_id}/bsl/bank_statements" : {
      "get" : {
        "description" : "Returns all bank statements. This includes both manual imports as well as automated PSD2 statements.",
        "operationId" : "getAllBankStatementHeaders",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Filters for the payment account the statement belongs to.",
          "example" : {
            "value" : "5665af78-cc67-490-b030-f649fde5d8a8"
          },
          "in" : "query",
          "name" : "payment_account",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Minimum date the statement was created or modified. Defaults to the beginning of the current year.",
          "example" : {
            "value" : "2024-08-01"
          },
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Maximum date the statement was created or modified. Defaults to the end of the current year.",
          "example" : {
            "value" : "2024-08-02"
          },
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Only include bank statements that are in any of these states. Defaults to all states.",
          "explode" : false,
          "in" : "query",
          "name" : "states",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "NEW", "IN_PROGRESS", "RECONCILED", "DELETED" ]
            }
          },
          "style" : "form"
        }, {
          "description" : "Only include bank statements that match these creation types. Defaults to all types.",
          "explode" : false,
          "in" : "query",
          "name" : "types",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MANUAL", "PSD2", "CAMT", "API" ]
            }
          },
          "style" : "form"
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "BSL" ]
      }
    },
    "/clients/{client_id}/bsl/bank_statements/{id}" : {
      "get" : {
        "description" : "Returns a single bank statement by ID.",
        "operationId" : "getBankStatement",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "BSL" ]
      }
    },
    "/clients/{client_id}/bsl/bank_statements/{id}/lines" : {
      "get" : {
        "description" : "Returns the bank statement lines for a statement.",
        "operationId" : "getBankStatementLines",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Statement ID",
          "example" : {
            "value" : "5665af78-cc67-490-b030-f649fde5d8a8"
          },
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Minimum date. Default: Today one year ago",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Maximum date. Default: Today",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Filters for a special status type of the line. Per default all types are returned.",
          "in" : "query",
          "name" : "line_type",
          "schema" : {
            "type" : "string",
            "enum" : [ "NEW", "SKIPPED", "RECONCILED", "BOOKED", "IN_PROGRESS", "BOOKED_AND_SKIPPED", "NOT_RECONCILED" ]
          }
        }, {
          "description" : "Filters for a special amount type of the line. Per default all types are returned.",
          "in" : "query",
          "name" : "amount_type",
          "schema" : {
            "type" : "string",
            "enum" : [ "ALL", "NEGATIVE", "POSITIVE" ]
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankStatementLineResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "BSL" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices" : {
      "get" : {
        "description" : "Returns a list of incoming invoices filtered by optional search parameters. Note that lines and bookings are not returned, use /cbi/incoming_invoices/{invoice_id} to fetch these for a single invoice.",
        "operationId" : "getIncomingInvoices",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Search text, will filter for destination, destination zip code, description and internal note.",
          "example" : "Purchase",
          "in" : "query",
          "name" : "search_text",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Minimum date (invoice date for double-entry accounting, or paid/invoice date for other accounting types). Defaults to the beginning of the current year.",
          "example" : "2024-01-01",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Maximum date (invoice date for double-entry accounting, or paid/invoice date for other accounting types). Defaults to the end of the current year.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Filter the invoice states to be PAID, UNPAID, or OVERDUE. All types are returned by default.",
          "in" : "query",
          "name" : "paid_state",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "PAID", "UNPAID", "OVERDUE" ]
            }
          }
        }, {
          "description" : "Filter for currency. Defaults to all currencies.",
          "example" : "EUR",
          "in" : "query",
          "name" : "currency",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Id for the business partner.",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "query",
          "name" : "business_partner",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "States if cancelled invoices will be returned. Defaults to false.",
          "in" : "query",
          "name" : "include_cancelled",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Minimum date for creation date of invoices. Can only be set with created_to otherwise it will be ignored.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "created_from",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Maximum date for creation date of invoices. Can only be set with created_from otherwise it will be ignored.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "created_to",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Filter for the contra account of an invoice.",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "query",
          "name" : "contra_account",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      },
      "post" : {
        "description" : "Creates an incoming invoice. Accounts can be found in the /accounts resource. Note that depending on the financial settings, the invoice must be paid. Additionally, for double-entry accounting the invoice is always booked immediately.",
        "operationId" : "postIncomingInvoice",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IncomingInvoiceCreationDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceModificationResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}" : {
      "delete" : {
        "description" : "Deletes an unpaid incoming invoice. Single-entry accounting (EA) only.",
        "operationId" : "deleteIncomingInvoice",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      },
      "get" : {
        "description" : "Returns an incoming invoice referenced by its id.",
        "operationId" : "getIncomingInvoiceById",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceDetailDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}/bookings" : {
      "get" : {
        "description" : "Returns all bookings for an incoming invoice.",
        "operationId" : "getIncomingInvoiceBookings",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceBookingResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}/bookings/{booking}" : {
      "get" : {
        "description" : "Returns a single booking for an incoming invoice.",
        "operationId" : "getIncomingInvoiceBookingById",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Booking id",
          "example" : "6f0ae84a-0517-42b1-b90b-284f9eb9b475",
          "in" : "path",
          "name" : "booking",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceBookingDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}/bookings/{booking}/cancel" : {
      "post" : {
        "description" : "Cancels a specific booking for an incoming invoice. Only payment and rest payment bookings can be cancelled.",
        "operationId" : "postIncomingInvoiceBookingCancel",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Booking id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "booking",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceModificationResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}/cancel" : {
      "post" : {
        "description" : "Cancels an incoming invoice.",
        "operationId" : "postIncomingInvoiceCancel",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IncomingInvoiceModificationResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}/journals" : {
      "get" : {
        "description" : "Returns all journals booked from an incoming invoice. The bookings need not be specified.",
        "operationId" : "getIncomingInvoiceJournals",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalReferenceResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/incoming_invoices/{invoice}/journals/{journal}" : {
      "get" : {
        "description" : "Returns a specific journal booked from an incoming invoice. The booking need not be specified.",
        "operationId" : "getIncomingInvoiceJournalById",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "a88cee2d-0a27-439d-a9c3-e9267075f1f1",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Journal id",
          "example" : "00002839-59e3-ba61-8df5-cbf7224c3311",
          "in" : "path",
          "name" : "journal",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalReferenceDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-INC" ]
      }
    },
    "/clients/{client_id}/cbi/invoices" : {
      "get" : {
        "description" : "Returns all invoices.",
        "operationId" : "getInvoices",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Search text, will filter for destination, destination zip code, description and internal note.",
          "example" : "Purchase",
          "in" : "query",
          "name" : "search_text",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Minimum date (invoice date for double-entry accounting, or paid/invoice date for other accounting types). Defaults to the beginning of the current year.",
          "example" : "2024-01-01",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Maximum date (invoice date for double-entry accounting, or paid/invoice date for other accounting types). Defaults to the end of the current year.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Filter the invoice states to be PAID, UNPAID, or OVERDUE. All types are returned by default.",
          "in" : "query",
          "name" : "paid_state",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "PAID", "UNPAID", "OVERDUE" ]
            }
          }
        }, {
          "description" : "Filter for currency. Defaults to all currencies.",
          "example" : "EUR",
          "in" : "query",
          "name" : "currency",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Id for the business partner.",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "query",
          "name" : "business_partner",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "States if cancelled invoices will be returned. Defaults to false.",
          "in" : "query",
          "name" : "include_cancelled",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Minimum date for creation date of invoices. Can only be set with created_to otherwise it will be ignored.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "created_from",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Maximum date for creation date of invoices. Can only be set with created_from otherwise it will be ignored.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "created_to",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Filter for the contra account of an invoice.",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "query",
          "name" : "contra_account",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Type of the invoices that will be returned. Defaults to null and all invoices are returned.",
          "in" : "query",
          "name" : "invoice_type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CbiInvoiceResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices" : {
      "get" : {
        "description" : "Returns a list of outgoing invoices filtered by optional search parameters. Note that lines and bookings are not returned, use /outgoing_invoices/{invoice_id} to fetch these for a single invoice.",
        "operationId" : "getOutgoingInvoices",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Search text, will filter for destination, destination zip code, description and internal note.",
          "example" : "Purchase",
          "in" : "query",
          "name" : "search_text",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Minimum date (invoice date for double-entry accounting, or paid/invoice date for other accounting types). Defaults to the beginning of the current year.",
          "example" : "2024-01-01",
          "in" : "query",
          "name" : "from",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Maximum date (invoice date for double-entry accounting, or paid/invoice date for other accounting types). Defaults to the end of the current year.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "to",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Filter the invoice states to be PAID, UNPAID, or OVERDUE. All types are returned by default.",
          "in" : "query",
          "name" : "paid_state",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "PAID", "UNPAID", "OVERDUE" ]
            }
          }
        }, {
          "description" : "Filter for currency. Defaults to all currencies.",
          "example" : "EUR",
          "in" : "query",
          "name" : "currency",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Id for the business partner.",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "query",
          "name" : "business_partner",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "States if cancelled invoices will be returned. Defaults to false.",
          "in" : "query",
          "name" : "include_cancelled",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Minimum date for creation date of invoices. Can only be set with created_to otherwise it will be ignored.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "created_from",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Maximum date for creation date of invoices. Can only be set with created_from otherwise it will be ignored.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "created_to",
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "description" : "Filter for the contra account of an invoice.",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "query",
          "name" : "contra_account",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      },
      "post" : {
        "description" : "Creates an outgoing invoice. Accounts can be found in the /accounts resource. Note that depending on the financial settings, the invoice must be paid. Additionally, for double-entry accounting the invoice is always booked immediately.",
        "operationId" : "createOutgoingInvoice",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OutgoingInvoiceCreationDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceModificationResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}" : {
      "delete" : {
        "description" : "Deletes an unpaid outgoing invoice. Single-entry accounting (EA) only.",
        "operationId" : "deleteOutgoingInvoice",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      },
      "get" : {
        "description" : "Returns an outgoing invoice referenced by its id.",
        "operationId" : "getOutgoingInvoiceById",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceDetailDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}/bookings" : {
      "get" : {
        "description" : "Returns all bookings for an outgoing invoice.",
        "operationId" : "getOutgoingInvoiceBookings",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceBookingResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}/bookings/{booking}" : {
      "get" : {
        "description" : "Returns a single booking for an outgoing invoice.",
        "operationId" : "getOutgoingInvoiceBookingById",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Booking id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "booking",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceBookingDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}/bookings/{booking}/cancel" : {
      "post" : {
        "description" : "Cancels a specific booking for an outgoing invoice. Only payment and rest payment bookings can be cancelled.",
        "operationId" : "postOutgoingInvoiceBookingCancel",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Booking id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "booking",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceModificationResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}/cancel" : {
      "post" : {
        "description" : "Cancels an outgoing invoice.",
        "operationId" : "postOutgoingInvoiceCancel",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OutgoingInvoiceModificationResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}/journals" : {
      "get" : {
        "description" : "Returns all journals booked from an outgoing invoice. The bookings need not be specified.",
        "operationId" : "getOutgoingInvoiceJournals",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalReferenceResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbi/outgoing_invoices/{invoice}/journals/{journal}" : {
      "get" : {
        "description" : "Returns a specific journal booked from an outgoing invoice. The booking need not be specified.",
        "operationId" : "getOutgoingInvoiceJournalById",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Invoice id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "invoice",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Journal id",
          "example" : "5665af78-cc67-490-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "journal",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JournalReferenceDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBI-OUT" ]
      }
    },
    "/clients/{client_id}/cbs/accounts" : {
      "get" : {
        "description" : "Returns all accounts. Accounts are required for cash based invoicing and business document lines and can be optionally added to items. Every account has one or multiple tax class entries, which define the tax rate for the line.",
        "operationId" : "getAccounts",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Id of the account type to filter by (if available)",
          "in" : "query",
          "name" : "type",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Effective date at which the account should be valid. Defaults to today.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "effective_date",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Account use determines which accounts are used for which purpose, depending on API.",
          "example" : "INCOME",
          "in" : "query",
          "name" : "use",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASSET", "INCOME", "EXPENSE", "OUTGOING_INVOICE_CONTRA", "INCOMING_INVOICE_CONTRA", "MEANS_OF_PAYMENT", "CUSTOMER_DEFAULT", "SUPPLIER_DEFAULT", "PRIVATE_PART_ACCOUNTS", "RECEIVABLES", "RECEIVABLES_CUSTOMER", "PAYABLES", "PAYABLES_SUPPLIER", "BANK", "CASH", "MONEY_BOOKS", "POS", "POS_CONTRA", "INV", "INV_CONTRA", "PRIVATE_PART_DEFAULT", "RECEIVABLES_DEFAULT", "RECEIVABLES_CUSTOMER_DEFAULT", "PAYABLES_DEFAULT", "PAYABLES_SUPPLIER_DEFAULT", "ASSET_END_BOOK_VAL_DEFAULT", "OPENING_BALANCE_DEFAULT", "YEARLY_WINNINGS_LOSSES_DEFAULT", "GUV_DEFAULT", "ROUNDING_DIFFERENCE_INCOME", "DISCOUNT_INCOME", "ROUNDING_DIFFERENCE_OUTGO", "DISCOUNT_OUTGO", "IRRECOVERABLE_OUTGO" ]
          }
        }, {
          "description" : "Account code",
          "example" : 4000,
          "in" : "query",
          "name" : "code",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Search text filtering by code, name or description.",
          "example" : 4000,
          "in" : "query",
          "name" : "search_text",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "If set to true, only visible accounts will be returned.",
          "example" : true,
          "in" : "query",
          "name" : "visible",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "If set to true, only available accounts will be returned. An available account is not locked by another module and can be used for booking. Cash register accounts are usually reserved.",
          "example" : true,
          "in" : "query",
          "name" : "available",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "If set to false, only accounts with no backing payment account will be returned. Default: true.",
          "example" : false,
          "in" : "query",
          "name" : "payment_accounts",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "If set to true, only used accounts will be returned. If set to false, only unused accounts will be returned. A used account is an account or contra account used in a journal (invoice, ...).",
          "example" : true,
          "in" : "query",
          "name" : "used",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS-ACC" ]
      }
    },
    "/clients/{client_id}/cbs/accounts/{account}" : {
      "get" : {
        "description" : "Returns a specific account by its id.",
        "operationId" : "getAccount",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Account id",
          "example" : "5665af78-cc67-4910-b030-f649fde5d8a8",
          "in" : "path",
          "name" : "account",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountExtendedDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS-ACC" ]
      }
    },
    "/clients/{client_id}/cbs/base_setup/cma/current_fiscal_year" : {
      "get" : {
        "description" : "Returns the current fiscal year if client uses CMA (Cash Method Accounting). This is a shorter, but equivalent way to get the current fiscal year within the base setup.",
        "operationId" : "getCurrentFiscalYearCma",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FiscalYearCmaDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "204" : {
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS" ]
      }
    },
    "/clients/{client_id}/cbs/base_setup/dea/current_fiscal_year" : {
      "get" : {
        "description" : "Returns the current fiscal year if client uses DEA (Double Entry Accounting). This is a shorter, but equivalent way to get the current fiscal year within the base setup.",
        "operationId" : "getCurrentFiscalYearDea",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FiscalYearDeaDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "204" : {
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS" ]
      }
    },
    "/clients/{client_id}/cbs/base_setup/rla/current_fiscal_year" : {
      "get" : {
        "description" : "Returns the current fiscal year if client uses RLA (Rental and Leasing Accounting). This is a shorter, but equivalent way to get the current fiscal year within the base setup.",
        "operationId" : "getCurrentFiscalYearRla",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FiscalYearRlaDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "204" : {
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS" ]
      }
    },
    "/clients/{client_id}/cbs/payment_accounts" : {
      "get" : {
        "description" : "Returns all payment accounts with optional search options.",
        "operationId" : "getPaymentAccounts",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Indicates if only visible payment accounts should be returned.",
          "example" : true,
          "in" : "query",
          "name" : "visible",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "description" : "Indicates if only not reserved payment accounts should be returned.",
          "example" : true,
          "in" : "query",
          "name" : "available",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "description" : "Indicates if only payment accounts of type bank should be included.",
          "example" : false,
          "in" : "query",
          "name" : "bank",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentAccountResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS-PAY" ]
      }
    },
    "/clients/{client_id}/cbs/payment_accounts/{payment_account}" : {
      "get" : {
        "description" : "Get a specific payment account by id.",
        "operationId" : "getPaymentAccount",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Bank account id",
          "in" : "path",
          "name" : "payment_account",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentAccountDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CBS-PAY" ]
      }
    },
    "/clients/{client_id}/doc/providers/DMS/staging" : {
      "post" : {
        "description" : "Uploads a file to the staging folder with a multipart request. The metadata body defines optional attributes to add to the document. The multipart attachment must be one file of a supported type (PDF, XML, images). See the examples for a multipart request. The current maximum size for one file is 2MB.",
        "operationId" : "postStaging",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileStagingDtoV2"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileDetailDtoV2"
                }
              }
            },
            "description" : "File successfully uploaded."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "DOC-STG" ]
      }
    },
    "/clients/{client_id}/doc/providers/DMS/staging/json" : {
      "post" : {
        "description" : "Creates a new document in the staging folder and uploads a base64-encoded file. The metadata defines optional attributes to add to the document.",
        "operationId" : "postStagingJson",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FileJsonUploadDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileDetailDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Input invalid. Further information in the RestError response."
          },
          "409" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Document with same file name already exists. Further information in the RestError response."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "DOC-STG" ]
      }
    },
    "/clients/{client_id}/features" : {
      "get" : {
        "description" : "Get all features for this client.",
        "operationId" : "getFeatures",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "CLIENT" ]
      }
    },
    "/clients/{client_id}/fis/tax_classes" : {
      "get" : {
        "description" : "Returns all tax classes for this client.",
        "operationId" : "getTaxClasses",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Overrides the validity date. Defaults to today.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "effective_date",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_classes/{tax_class}" : {
      "get" : {
        "description" : "Return a tax class of the specified id",
        "operationId" : "getTaxClass",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "tax_class",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_classes/{tax_class}/entries" : {
      "get" : {
        "description" : "Returns all tax class entries for this client.",
        "operationId" : "getTaxClassEntries",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "tax_class",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Overrides the validity date. Defaults to today.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "effective_date",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassEntryResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_classes/{tax_class}/entries/{entry}" : {
      "get" : {
        "description" : "Return a tax class entry of the specified id",
        "operationId" : "getTaxClassEntry",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "tax_class",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "entry",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassEntryDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_classes/{tax_class}/entries/{entry}/modifiers" : {
      "get" : {
        "description" : "Returns all tax class entry modifiers for this client.",
        "operationId" : "getTaxClassEntryModifiers",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "tax_class",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "entry",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Overrides the validity date. Defaults to today.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "effective_date",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassEntryModifierResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_classes/{tax_class}/entries/{entry}/modifiers/{modifier}" : {
      "get" : {
        "description" : "Return a tax class entry modifier of the specified id",
        "operationId" : "getTaxClassEntryModifier",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "tax_class",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "entry",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "modifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxClassEntryModifierDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_rates" : {
      "get" : {
        "description" : "Returns all tax rates for this client.",
        "operationId" : "getTaxRates",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Overrides the validity date. Defaults to today.",
          "example" : "2024-08-01",
          "in" : "query",
          "name" : "effective_date",
          "schema" : {
            "type" : "string",
            "format" : "date",
            "pattern" : "yyyy-MM-dd"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxRateResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/fis/tax_rates/{tax_rate}" : {
      "get" : {
        "description" : "Returns a tax rate with the specified id",
        "operationId" : "getTaxRate",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "tax_rate",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxRateDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Resource not found."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "FIS" ]
      }
    },
    "/clients/{client_id}/inv/document_sequence_groups" : {
      "get" : {
        "description" : "Returns all document sequence groups for this client.",
        "operationId" : "getAllDocumentSequences",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SequenceGroupResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "INV" ]
      }
    },
    "/clients/{client_id}/inv/document_sequence_groups/default" : {
      "get" : {
        "description" : "Get the default document sequence group, if present.",
        "operationId" : "getSequenceGroupDefault",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SequenceGroupDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "204" : {
            "description" : "No default sequence group exists."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "INV" ]
      }
    },
    "/clients/{client_id}/inv/document_sequence_groups/{sequence_group}" : {
      "get" : {
        "description" : "Get single document sequence group by id.",
        "operationId" : "getSequenceGroup",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "sequence_group",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SequenceGroupDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Sequence group not found"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "INV" ]
      }
    },
    "/clients/{client_id}/inv/document_sequence_groups/{sequence_group}/sequences" : {
      "get" : {
        "description" : "Get sequences for specific sequence group.",
        "operationId" : "getSequences",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "sequence_group",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Offset to start with result set",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "description" : "Comma separated list of sort params. The direction could append to the sort property by a colon.",
          "example" : "name:ASC,status:DESC",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SequenceResultDtoV2"
                }
              }
            },
            "description" : "Operation completed successfully."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestError"
                }
              }
            },
            "description" : "Sequence group not found"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ],
        "tags" : [ "INV" ]
      }
    },
    "/clients/{client_id}/inv/dunning_levels" : {
      "get" : {
        "description" : "Returns all dunning levels for this client.",
        "operationId" : "getAllDunningLevels",
        "parameters" : [ {
          "in" : "path",
          "name" : "client_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "description" : "If set to true, only retrieve dunning levels with no previous level",
          "example" : true,
          "in" : "query",
          "name" : "first",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "description" : "Limit of results.",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "integer",
[...]
